#container {
width: 300px;
margin: 0 auto;
}
.ex2 img{
height: 90px;
width: 130px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex2 img:hover {
height: 150px;
width: 220px;
margin-left: none;
}